<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- our branch section start -->
    <div class="hospital-branch-container">
        <div class="hospital-branch-center wraper">
            <div class="section-heading padding-top-bottom-thirty-mobile ">
                <h3 class="section-title">Our Branches</h3>
                <div class="underline"></div>
            </div>
            <section class="hospital-branch-section three-column-layout padding-left-right-twenty-mobile padding-top-bottom-fifty-mobile">
                <article class="each-branch padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                    <div class="branch-main-component">
                        <div class="branch-img-component">
                            <img src="../static/asserts/branch-1.jpg" alt="branch-1">
                        </div>
                        <div class="branch-location">
                            <a href="#"><img src="../static/icons/arrow-up-right-icon.svg" alt="arrow-up-right-icon">
                            </a>
                        </div>
                    </div>
                    <div class="branch-details padding-left-right-ten-mobile padding-top-bottom-thirty-mobile">
                        <h3 class="branch-title">Maharashtra</h3>
                        <h5 class="branch-address">Ahmednagar-414001</h5>
                        <p class="branch-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, soluta, sint deleniti odio, blanditiis suscipit consectetur accusamus hic repudiandae porro veniam obcaecati modi ducimus velit eius quos maiores sunt facere?</p>
                    </div>
                </article>
                <article class="each-branch padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                    <div class="branch-main-component">
                        <div class="branch-img-component">
                            <img src="../static/asserts/branch-2.jpg" alt="branch-2">
                        </div>
                        <div class="branch-location">
                            <a href="#"><img src="../static/icons/arrow-up-right-icon.svg" alt="arrow-up-right-icon">
                            </a>
                        </div>
                    </div>
                    <div class="branch-details padding-left-right-ten-mobile padding-top-bottom-thirty-mobile">
                        <h3 class="branch-title">Andhra Pradesh</h3>
                        <h5 class="branch-address">Vijayawada-520003</h5>
                        <p class="branch-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, soluta, sint deleniti odio, blanditiis suscipit consectetur accusamus hic repudiandae porro veniam obcaecati modi ducimus velit eius quos maiores sunt facere?</p>
                    </div>
                </article>
                <article class="each-branch padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                    <div class="branch-main-component">
                        <div class="branch-img-component">
                            <img src="../static/asserts/branch-3.jpg" alt="branch-3">
                        </div>
                        <div class="branch-location">
                            <a href="#"><img src="../static/icons/arrow-up-right-icon.svg" alt="arrow-up-right-icon">
                            </a>
                        </div>
                    </div>
                    <div class="branch-details padding-left-right-ten-mobile padding-top-bottom-thirty-mobile">
                        <h3 class="branch-title">Telangana</h3>
                        <h5 class="branch-address">Hitec City-500081</h5>
                        <p class="branch-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, soluta, sint deleniti odio, blanditiis suscipit consectetur accusamus hic repudiandae porro veniam obcaecati modi ducimus velit eius quos maiores sunt facere?</p>
                    </div>
                </article>
            </section>
        </div>
    </div>
    <!-- our branch section end -->
</body>
</html>