<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <!-- doctors section start -->
    <div class="doctors-container">
        <div class="doctors-center wraper">
            <div class="section-heading padding-top-bottom-thirty-mobile ">
                <h3 class="section-title">Our Doctors</h3>
                <div class="underline"></div>
                <section class="doctors-section three-column-layout padding-left-right-twenty-mobile padding-top-bottom-fifty-mobile">
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-1.jpg" alt="doctor-1">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Siddhartha Mukherjee</h3>
                            <h5 class="doctor-title">Gynaecologist</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-2.jpg" alt="doctor-2">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Viraj Godbole</h3>
                            <h5 class="doctor-title">Ophthalmologist</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-3.jpg" alt="doctor-3">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Amber Leis</h3>
                            <h5 class="doctor-title">Psychiatrist</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-4.jpg" alt="doctor-4">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Aaliya Yaqub</h3>
                            <h5 class="doctor-title">Surgeon</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-5.jpg" alt="doctor-5">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Yogita Musale</h3>
                            <h5 class="doctor-title">cardiologists</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-6.jpg" alt="doctor-6">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Nikhil Nikam</h3>
                            <h5 class="doctor-title"> ENT specialists</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-7.jpg" alt="doctor-7">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Amira</h3>
                            <h5 class="doctor-title">Pulmonologists</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-8.jpg" alt="doctor-8">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Samarth Borade</h3>
                            <h5 class="doctor-title">Geriatricians</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-9.jpg" alt="doctor-9">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Stephen</h3>
                            <h5 class="doctor-title">Neurologists</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-10.jpg" alt="doctor-10">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Anne</h3>
                            <h5 class="doctor-title">Oncologists</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-11.jpg" alt="doctor-11">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Andrea Herschorn</h3>
                            <h5 class="doctor-title">Ggastroenterologists</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-12.jpg" alt="doctor-12">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Daniel</h3>
                            <h5 class="doctor-title">Dentist</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-13.jpg" alt="doctor-13">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Andrea Paul</h3>
                            <h5 class="doctor-title">Paediatrician</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-14.jpg" alt="doctor-14">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Joseph</h3>
                            <h5 class="doctor-title">Radiologists</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                    <article class="each-doctor-profile padding-left-right-ten-mobile padding-top-bottom-twenty-mobile">
                        <div class="doctor-img-component">
                            <img src="../static/asserts/doctor-15.jpg" alt="doctor-15">
                        </div>
                        <div class="doctor-details">
                            <h3 class="doctor-name">Dr. Mark</h3>
                            <h5 class="doctor-title">rheumatologists</h5>
                            <p class="doctor-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit provident possimus sint ipsam, amet voluptatem reprehenderit, eligendi dolores illo eius consectetur nam corrupti voluptatum maiores reiciendis dolore labore animi perspiciatis!</p>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
    <!-- doctors section end -->
</body>
</html>