<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
     <!-- facilities section start -->
     <div class="facilities-container">
        <div class="facilities-center ">
            <div class="section-heading padding-top-bottom-thirty-mobile ">
                <h3 class="section-title ">Our Facilities</h3>
                <div class="underline"></div>
            </div>
            <section class="facilities-section wraper  padding-top-bottom-thirty-mobile padding-left-right-twenty-mobile padding-left-right-fourty-desktop">
                <article class="each-facility padding-left-right-twenty-mobile padding-top-bottom-twenty-mobile">
                    <div class="img-component">
                        <img src="../static/asserts/facility-1.jpg" alt="facility-1">
                    </div>
                    <div class="facility-desc">
                        <p class="desc">General Wards</p>
                    </div>
                </article>
                 <article class="each-facility padding-left-right-twenty-mobile padding-top-bottom-twenty-mobile">
                    <div class="img-component">
                        <img src="../static/asserts/facility-4.jpg" alt="facility-4">
                    </div>
                    <div class="facility-desc">
                        <p class="desc">Economy Wards</p>
                    </div>
                </article>
                <article class="each-facility padding-left-right-twenty-mobile padding-top-bottom-twenty-mobile">
                    <div class="img-component">
                        <img src="../static/asserts/facility-2.jpg" alt="facility-2">
                    </div>
                    <div class="facility-desc">
                        <p class="desc">VIP Wards</p>
                    </div>
                </article>
                <article class="each-facility padding-left-right-twenty-mobile padding-top-bottom-twenty-mobile">
                    <div class="img-component">
                        <img src="../static/asserts/facility-3.jpg" alt="facility-3">
                    </div>
                    <div class="facility-desc">
                        <p class="desc">Seating Area</p>
                    </div>
                </article>
                <article class="each-facility padding-left-right-twenty-mobile padding-top-bottom-twenty-mobile">
                    <div class="img-component">
                        <img src="../static/asserts/facility-5.jpg" alt="facility-5">
                    </div>
                    <div class="facility-desc">
                        <p class="desc">Emergency Wards</p>
                    </div>
                </article>
                <article class="each-facility padding-left-right-twenty-mobile padding-top-bottom-twenty-mobile">
                    <div class="img-component">
                        <img src="../static/asserts/facility-6.jpg" alt="facility-6">
                    </div>
                    <div class="facility-desc">
                        <p class="desc">Clinics</p>
                    </div>
                </article>
                <article class="each-facility padding-left-right-twenty-mobile padding-top-bottom-twenty-mobile">
                    <div class="img-component">
                        <img src="../static/asserts/facility-7.jpg" alt="facility-7">
                    </div>
                    <div class="facility-desc">
                        <p class="desc">Operation Theater</p>
                    </div>
                </article>
                <article class="each-facility padding-left-right-twenty-mobile padding-top-bottom-twenty-mobile">
                    <div class="img-component">
                        <img src="../static/asserts/facility-9.jpg" alt="facility-9">
                    </div>
                    <div class="facility-desc">
                        <p class="desc">Pharmacy</p>
                    </div>
                </article>
                <article class="each-facility padding-left-right-twenty-mobile padding-top-bottom-twenty-mobile">
                    <div class="img-component">
                        <img src="../static/asserts/facility-8.jpg" alt="facility-8">
                    </div>
                    <div class="facility-desc">
                        <p class="desc">Ambulance Services</p>
                    </div>
                </article>  
            </section>
            <div class="sliders-arrow-section padding-top-bottom-ten-mobile border-color">
                <img src="../static/asserts/arrow-back.png" alt="arrow-back" id="rear" class="width-up border-color">
                <img src="../static/asserts/arrow-forward.png" alt="arrow-forward" id="front" class="width-up border-color">
            </div>
        </div>
    </div>
    <!-- facilities section end -->
     <!-- javascript section start -->
     <script src="../static/js/facilities.js"></script>
     <!-- javascript section end-->
</body>
</html>