<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
     <!-- Mission And Goal section start -->
    <div class="moto-container">
        <div class="moto-center wraper">
            <section class="moto-section one-column-layout padding-top-bottom-thirty-mobile padding-left-right-twenty-mobile">
                <article class="each-moto padding-top-bottom-twenty-mobile">
                    <div class="moto-header">
                        <h3 class="moto-title">Our Mission</h3>
                    </div>
                    <div class="moto-log">
                        <img src="../static/asserts/mission.png" alt="mission">
                    </div>
                    <p class="moto-desc">
                        To provide the finest standards in holistic health care and medicare for a wide section of society, showing respect for our patients in whatever we do.
                    </p>
                </article>
                <article class="each-moto padding-top-bottom-twenty-mobile">
                    <div class="moto-header">
                        <h3 class="moto-title">Our Vision</h3>
                    </div>
                    <div class="moto-log">
                        <img src="../static/asserts/vision.png" alt="vision">
                    </div>
                    <p class="moto-desc">
                        To provide world class quick and safest Facilities to critically ill patients.
                    </p>
                </article>
            </section>
        </div>
    </div>
    <!-- Mission And Goal section end -->
</body>
</html>