{% extends 'patient_base.html' %}
{% block content %}
 <!-- table section start -->
 <div class="table-container">
  <div class="table-center  padding-left-right-twenty-mobile">
    <table>
      <thead>
        <tr >
          <th colspan="4" class="text-center heading-color">Doctors</th>
        </tr>
        <tr class="bg-color-black">
          <th>Doctor Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for a in appointments %}
        <tr>
          <td> {{a.doctorName}}</td>
          <td>{{a.description}}</td>
          <td>{{a.appointmentDate}}</td>
          {%if a.status%}
          <td> <span class="label label-primary">Confirmed</span></td>
          {% else %}
          <td> <span class="label label-success">Pending</span></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
<!-- table section end -->

{% endblock content %}
