{% extends 'patient_base.html' %}
{% block content %}
{%load static %}
<div class="container">

    <form  action="searchdoctor" method="get" style="margin-left:70%;" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" id="query" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
 
<br>
<br>
<br>
<br>
<br>
  {% if doctors %}
   <!-- table section start -->
   <div class="table-section">
    <div class="table-center  padding-left-right-twenty-mobile">
      <table>
        <thead>
          <tr >
            <th colspan="5" class="text-center heading-color">Total Doctor List</th>
          </tr>
          <tr class="bg-color-black">
            <th>Name</th>
            <th>Profile Picture</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          {% for d in doctors %}
        <tr>
  
          <td> {{d.get_name}}</td>
          <td> <img src="{% static d.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{d.mobile}}</td>
          <td>{{d.address}}</td>
          <td>{{d.department}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  <!-- table section end -->
  {%else%}
  <br><br><br>
  <h4 style="text-align: center;color: red;">No Doctor Found !!!</h4>
  {% endif %}


</div>
{% endblock content %}
