<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- our specialities section start -->
    <div class="specialities-container">
        <div class="specialities-center wraper">
            <div class="section-heading padding-top-bottom-thirty-mobile ">
                <h3 class="section-title">Our Specialities</h3>
                <div class="underline"></div>
            </div>
            <section class="specialities-section four-column-layout padding-left-right-twenty-mobile padding-top-bottom-fifty-mobile">
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/neurology.png" alt="neurology">
                    <p class="specialities-desc">Neurology</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/cardiology.png" alt="cardiology">
                    <p class="specialities-desc">Cardiology</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/surgical-gastroenterology.png" alt="surgical-gastroenterology">
                    <p class="specialities-desc">Surgical Gastroenterology</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/bariatric-surgery.png" alt="bariatric-surgery">
                    <p class="specialities-desc">Bariatric Surgery</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/neuro-surgery.png" alt="neuro-surgery">
                    <p class="specialities-desc">Neuro Surgery</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/pediatric-neurology.png" alt="pediatric-neurology">
                    <p class="specialities-desc">Pediatric Neurology</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/neuro-psychiatry.png" alt="neuro-psychiatry">
                    <p class="specialities-desc">Neuro Psychiatry</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/cardiothoracic.png" alt="cardiothoracic">
                    <p class="specialities-desc">Cardiothoracic</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/pediatric-surgery.png" alt="pediatric-surgery">
                    <p class="specialities-desc">Pediatric Surgery</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/urology.png" alt="urology">
                    <p class="specialities-desc">Urology</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/neurology.png" alt="neurology">
                    <p class="specialities-desc">Nephrology</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/pediatric-orthopaedic-trauma.png" alt="pediatric-orthopaedic-trauma">
                    <p class="specialities-desc">Pediatric Orthopaedic & Trauma</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/joint-replacement-trauma.png" alt="joint-replacement-trauma">
                    <p class="specialities-desc">Joint Replacement & Trauma</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/pulmonology.png" alt="pulmonology">
                    <p class="specialities-desc">Pulmonology</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/ent.png" alt="ent">
                    <p class="specialities-desc">ENT</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/diabetology-diabetic-emergencies.png" alt="diabetology-diabetic-emergencies">
                    <p class="specialities-desc">Diabetology & Diabetic Emergencies</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/general-medicine.png" alt="general-medicine">
                    <p class="specialities-desc">General Medicine</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/gynecology.png" alt="gynecology">
                    <p class="specialities-desc">Gynecology</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/psychiatry.png" alt="psychiatry">
                    <p class="specialities-desc">Psychiatry</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/critical-care.png" alt="critical-care">
                    <p class="specialities-desc">Critical Care</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/dermatology-cosmetology.png" alt="dermatology-cosmetology">
                    <p class="specialities-desc">Dermatology & Cosmetology </p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/diagnostics.png" alt="diagnostics">
                    <p class="specialities-desc">Diagnostics</p>
                    </div>
                </article>
                <article class="each-specialities padding-top-bottom-thirty-mobile">
                    <div class="specialities-info">
                        <img src="../static/asserts/polytramma-critical-care.png" alt="polytramma-critical-care">
                    <p class="specialities-desc">Polytramma And Critical Care</p>
                    </div>
                </article>
            </section>
        </div>
    </div>
    <!-- our specialities section end -->
</body>
</html>